In [52]:
import numpy as np 
import pandas as pd
import os

import seaborn as sns
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')

import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from imblearn.over_sampling import RandomOverSampler  # 
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

import numpy as np   
import pandas as pd
import os

import seaborn as sns
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')

import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from collections import Counter
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score

In [54]:
df = pd.read_csv('./../Dataset/US_Heart_Patients_2.csv')

### Classification -

    1. Logistic Regression
    2. DT Classifier             - (probability)
    3. Naive Bayes Classifier    - (conditional probability)
    4. Random forest Classifier
    5. Linear Discriminant
    6. XG boost
    7. Gradient boost
    8. SVM

## Logistic Regression (log)

it can do classification and probability of that class

In [58]:
round(df.describe().T,2)

                  count    mean    std     min     25%    50%     75%    max
age              4238.0   49.58   8.57   32.00   42.00   49.0   56.00   70.0
education        4130.0    1.98   1.02    1.00    1.00    2.0    3.00    4.0
currentSmoker    4237.0    0.49   0.50    0.00    0.00    0.0    1.00    1.0
cigsPerDay       4209.0    9.00  11.92    0.00    0.00    0.0   20.00   70.0
BP Meds          4180.0    0.03   0.17    0.00    0.00    0.0    0.00    1.0
prevalentStroke  4231.0    0.01   0.08    0.00    0.00    0.0    0.00    1.0
prevalentHyp     4238.0    0.31   0.46    0.00    0.00    0.0    1.00    1.0
diabetes         4238.0    0.03   0.16    0.00    0.00    0.0    0.00    1.0
tot cholesterol  4180.0  236.68  44.62  107.00  206.00  234.0  263.00  696.0
Systolic BP      4236.0  132.36  22.04   83.50  117.00  128.0  144.00  295.0
Diastolic BP     4235.0   82.90  11.91   48.00   75.00   82.0   90.00  142.5
BMI              4216.0   25.80   4.08   15.54   23.07   25.4   28.04   56.8
heartRate        4236.0   75.87  12.00   44.00   68.00   75.0   83.00  143.0
glucose          3849.0   81.95  23.96   40.00   71.00   78.0   87.00  394.0
Heart-Att        4240.0    0.15   0.36    0.00    0.00    0.0    0.00    1.0

In [60]:
cat = ['education','currentSmoker','BP Meds','prevalentStroke','prevalentHyp','diabetes','Gender']
num = ['age','cigsPerDay','tot cholesterol','Systolic BP','Diastolic BP','BMI','heartRate','glucose']

In [62]:
round(df[num].describe().T,2)

                  count    mean    std     min     25%    50%     75%    max
age              4238.0   49.58   8.57   32.00   42.00   49.0   56.00   70.0
cigsPerDay       4209.0    9.00  11.92    0.00    0.00    0.0   20.00   70.0
tot cholesterol  4180.0  236.68  44.62  107.00  206.00  234.0  263.00  696.0
Systolic BP      4236.0  132.36  22.04   83.50  117.00  128.0  144.00  295.0
Diastolic BP     4235.0   82.90  11.91   48.00   75.00   82.0   90.00  142.5
BMI              4216.0   25.80   4.08   15.54   23.07   25.4   28.04   56.8
heartRate        4236.0   75.87  12.00   44.00   68.00   75.0   83.00  143.0
glucose          3849.0   81.95  23.96   40.00   71.00   78.0   87.00  394.0

In [64]:
df.columns

Index(['Gender', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BP Meds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'tot cholesterol',
       'Systolic BP', 'Diastolic BP', 'BMI', 'heartRate', 'glucose',
       'Heart-Att'],
      dtype='object')

In [66]:
df.isnull().sum()*100/df.shape[0]

Gender             0.188679
age                0.047170
education          2.594340
currentSmoker      0.070755
cigsPerDay         0.731132
BP Meds            1.415094
prevalentStroke    0.212264
prevalentHyp       0.047170
diabetes           0.047170
tot cholesterol    1.415094
Systolic BP        0.094340
Diastolic BP       0.117925
BMI                0.566038
heartRate          0.094340
glucose            9.221698
Heart-Att          0.000000
dtype: float64

In [68]:
df.isnull().sum()*100/df.shape[0]

Gender             0.188679
age                0.047170
education          2.594340
currentSmoker      0.070755
cigsPerDay         0.731132
BP Meds            1.415094
prevalentStroke    0.212264
prevalentHyp       0.047170
diabetes           0.047170
tot cholesterol    1.415094
Systolic BP        0.094340
Diastolic BP       0.117925
BMI                0.566038
heartRate          0.094340
glucose            9.221698
Heart-Att          0.000000
dtype: float64

#### Null Variable Null Treatment

In [71]:
for i in num:
    df[i].fillna(df[i].mean, inplace=True)

In [73]:
df.isnull().sum()

Gender               8
age                  0
education          110
currentSmoker        3
cigsPerDay           0
BP Meds             60
prevalentStroke      9
prevalentHyp         2
diabetes             2
tot cholesterol      0
Systolic BP          0
Diastolic BP         0
BMI                  0
heartRate            0
glucose              0
Heart-Att            0
dtype: int64

In [75]:
for i in cat:
    df[i].fillna(df[i].mode()[0], inplace=True)

In [77]:
df.isnull().sum()

Gender             0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BP Meds            0
prevalentStroke    0
prevalentHyp       0
diabetes           0
tot cholesterol    0
Systolic BP        0
Diastolic BP       0
BMI                0
heartRate          0
glucose            0
Heart-Att          0
dtype: int64